@{
    ViewBag.Company = "Uzima Rx";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @ViewBag.Company </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Uzima Rx", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Administration", "Index", "Administration", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Order", "Index", "Order", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Inventory", "Index", "Inventory", new { area = "" }, null)</li>

                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Reports <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Order &amp; Inventory Reports</li>
                            @if (User.IsInRole("PharmaAdmin"))
                            {
                                <li>@Html.ActionLink("Pending Orders", "PendingOrders", "Report")</li>
                            }
                            <li>@Html.ActionLink("Inventory by Location", "Inventory", "Report")</li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Expired/Expiring Drug Reports</li>
                            <li>@Html.ActionLink("Expired Drugs", "ExpiredDrugs", "Report")</li>
                            <li>@Html.ActionLink("Expiring Drugs", "ExpiringDrugs", "Report")</li>
                            <li role="separator" class="divider"></li>
                            @if (User.IsInRole("PharmaAdmin") || User.IsInRole("CareSiteStaff"))
                            {
                                <li class="dropdown-header">Dispensed/Destroyed Drug Reports</li>
                                <li>@Html.ActionLink("Dispensed Drugs", "DispensedDrugs", "Report")</li>
                                <li>@Html.ActionLink("Destroyed Drugs", "DestroyedDrugs", "Report")</li>
                            }
                        </ul>

                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Locations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Clinics &amp; Hospitals</li>
                            <li>@Html.ActionLink("Add Clinic", "AddClinicLocation", "Location")</li>
                            <li>@Html.ActionLink("Add Hospital", "AddHospitalLocation", "Location")</li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Warehouse Suppliers</li>
                            <li>@Html.ActionLink("Add Supplier", "AddSupplierLocation", "Location")</li>
                        </ul>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year @ViewBag.Company</p>
        </footer>
    </div>
</body>
</html>
