@{
    ViewBag.Company = "Uzima Rx";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @ViewBag.Company </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Uzima Rx", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
            
                    <li>@Html.ActionLink("Order", "Index", "Order", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Inventory", "Index", "Pharmacy", new { area = "" }, null)</li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu navbar-collapse navbar-inverse" aria-labelledby="navbarDropdown">
                            <ul class="nav navbar-nav nav-stacked">
                                <li>@Html.ActionLink("Pending Orders", "Index", "Report", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Expiring Drugs", "ExpiredDrugs", "Report", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Inventory by Location", "Inventory", "Report", null, new { @class = "dropdown-item" })</li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Locations
                        </a>
                        <div class="dropdown-menu navbar-collapse navbar-inverse" aria-labelledby="navbarDropdown">
                            <ul class="nav navbar-nav nav-stacked">
                                <li>@Html.ActionLink("Add Clinic", "AddClinicLocation", "Location", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Add Hospital", "AddHospitalLocation", "Location", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Add Supplier", "AddSupplierLocation", "Location", null, new { @class = "dropdown-item" })</li>
                            </ul>

                        </div>
                    </li>
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year @ViewBag.Company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
