@model PTGApplication.Models.PharmacyInventory

@{
    ViewBag.Title = "Add Inventory";
}

<h2>Add New Inventory</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Pharmacy Inventory</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.BarcodeId, "Drug", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusId, new SelectList(ViewBag.drugs, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.Label("Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("txtQuantity", "", new { @class = "form-control" })
                @Html.ValidationMessage("", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusId, new SelectList(ViewBag.statuses, "Id", "Status"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentLocationId, "Current Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Html.EditorFor(model => model.CurrentLocationId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CurrentLocationId, new SelectList(ViewBag.locations, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CurrentLocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FutureLocationId, "Future Location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*Html.EditorFor(model => model.FutureLocationId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CurrentLocationId, new SelectList(ViewBag.locations, "Id", "Name"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FutureLocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOrdered, "Order Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOrdered, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.DateOrdered, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirationDate, "Expiration Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpirationDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.ExpirationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
