@model IEnumerable<PTGApplication.Models.PharmacyDrug>

@{
    ViewBag.Title = "Remove Drug";
}

<h2>Remove From Drug List</h2>

@using (Html.BeginForm("SelectDrug", "Pharmacy", FormMethod.Get))
{
    <p>
        Search by Drug Name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>Barcode</th>
        <th>Name</th>
        <th>Brand Name</th>
        <th>Application Number</th>
        <th>Manufacturer</th>
        <th>Manufacturer Location</th>
        <th>Approval Number</th>
        <th>Schedule</th>
        <th>License</th>
        <th>Ingredients</th>
        <th>Pack Size</th>
        <th></th>
    </tr>
    </thead>


    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4" style="color:red">
                No drug has been found with that name.
            </td>
        </tr>
    }

    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Schedule)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.License)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackSize)
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveFromDrugList", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
