@model PTGApplication.Models.UzimaInventory
@{
    ViewBag.Title = "Place Order";
}

<h2>Place an Order</h2>

<form id="orderform">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Drug</label>
            <div class="col-md-10">
                <input size="50" type="text" readonly class="form-control-plaintext" name="drugname" id="drugname" value="@ViewBag.Drug.DrugName">
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Quantity *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="txtQty" name="txtQty" class="form-control" placeholder="@ViewBag.Quantity" required>
                <label id="msgWarning"></label>
                @Html.ValidationMessage("", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FutureLocationId, "Location Needed", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FutureLocationId, ViewBag.LocationNeeded as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FutureLocationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>

<script>
    let maxQuantity = @(ViewBag.Quantity)

    $('#orderform').submit(event => {
        event.preventDefault()
        let inputVal = $('#txtQty').val()
        if (inputVal > maxQuantity) {
            $('#msgWarning').text('Must be less than or equal to ' + maxQuantity)
        } else {
            $('#btnSubmit').attr('disabled', true)
            $.ajax({
                type: 'POST',
                url: `/Order/PlaceOrder/`,
                data: $('#orderform').serialize(),
                dataType: 'html',
                success: () => location.href = "/Order/OrderPlaced"
            })
        }
    })
</script>

