@model PTGApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Add User";
}

<h2>Create a New Account</h2>

@using (Html.BeginForm("AddUser", "Administration", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "txtEmail" })
            <label id="lblEmail" class="text-danger"></label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", id = "txtConfirmEmail" })
            <label id="lblConfirmEmail" class="text-danger"></label>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pharmacy, "Main Location", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("ddlLocations", ViewBag.Locations as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("ddlRoles", ViewBag.Roles as SelectList, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" id="btnSubmit" value="Create" />
            <a href="~/Administration" class="btn btn-warning">Cancel</a>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(() => {
        $('#txtConfirmEmail').on('change', () => {
            let email = $('#txtEmail').val()
            let confirmEmail = $('#txtConfirmEmail').val()
            if (email != confirmEmail) {
                $('#lblConfirmEmail').html('Emails don\'t match')
                $('#btnSubmit').attr('disabled', true)
            } else {
                $('#lblConfirmEmail').html('')
                $('#btnSubmit').attr('disabled', false)
            }
        })
    })
</script>
