@model IEnumerable<PTGApplication.Models.UzimaInventory>

@{
    ViewBag.Title = "Select Inventory";
}

<h2>Select Inventory to Modify</h2>


<table class="table" id="tblInventory">
    <thead>
        <tr>
            <th>Drug Name</th>
            <th>Current Location</th>
            <th>Last Modified On</th>
            <th>Expiration Date</th>
            <th></th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Count(); i++)
    {
        var item = Model.ElementAtOrDefault(i);
        <tr>
            <td>
                <p>@ViewBag.Drugs[i]</p>
            </td>
            <td>
                <p>@ViewBag.Locations[i] </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)

            <td>
                @Html.ActionLink("Modify", "ModifyInventory", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    $(document).ready(() => {
        $('#tblInventory').DataTable()
    })
</script>
