@model IEnumerable<PTGApplication.Models.UzimaInventory>

@{
    ViewBag.Title = "Select Inventory";
}

<h2>Select Inventory to Modify</h2>


<table class="table">
    <tr>
        <th>Drug Name</th>
        <th>Current Location</th>
        <th>Order Date</th>
        <th>Expiration Date</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentLocationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrugId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpirationDate)
        
        <td>
            @Html.ActionLink("Modify", "ModifyInventory", new { id=item.Id }) |
            @Html.ActionLink("Remove", "RemoveInventory", new { id=item.Id })
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    $(document).ready(() => {
        $('#tblInventory').DataTable()
    })
</script>
